templates/productivity-workflow/daily-news-digest-automation.json
{
  "name": "Daily News Digest Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "country",
                "value": "us"
              },
              {
                "name": "pageSize",
                "value": "10"
              },
              {
                "name": "category",
                "value": "technology"
              }
            ]
          }
        }
      },
      "id": "news-api",
      "name": "Fetch Tech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "newsapi-credentials",
          "name": "NewsAPI Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.reddit.com/r/programming/hot.json",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "reddit-api",
      "name": "Fetch Reddit Programming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 480]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "created:>={{ $now.minus({days: 1}).toISODate() }}"
              },
              {
                "name": "sort",
                "value": "stars"
              },
              {
                "name": "per_page",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "github-api",
      "name": "Fetch Trending GitHub Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 660]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByIndex",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [720, 480]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional news summarizer. Create engaging, informative news digests that highlight the most important stories of the day. Focus on accuracy, clarity, and relevance to the user's interests."
            },
            {
              "role": "user",
              "content": "Please create a comprehensive daily news digest from the following news articles. Organize by categories (World News, Technology, Business, etc.) and provide brief summaries for each story:\n\n{{ $json.articles }}"
            }
          ]
        }
      },
      "id": "openai-summarize",
      "name": "AI News Summarizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [960, 480],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "message": {
          "to": "{{ $('Set User Preferences').item.json.email }}",
          "subject": "📰 Your Daily Tech Digest - {{ $now.toFormat('MMMM dd, yyyy') }}",
          "body": "<html><body style='font-family: Arial, sans-serif; line-height: 1.6; color: #333;'><div style='max-width: 600px; margin: 0 auto; padding: 20px;'><h1 style='color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;'>🚀 Daily Tech Digest</h1>{{ $('AI News Summarizer').item.json.response }}<hr style='margin: 30px 0; border: none; border-top: 1px solid #eee;'><p style='font-size: 12px; color: #7f8c8d; text-align: center;'>Generated by n8n automation • <a href='#' style='color: #3498db;'>Unsubscribe</a></p></div></body></html>",
          "bodyType": "html"
        },
        "options": {}
      },
      "id": "gmail-send",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 380],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "{{ $('Set User Preferences').item.json.telegram_chat_id }}",
        "text": "📰 *Daily Tech Digest*\n\n{{ $('AI News Summarizer').item.json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1200, 580],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "your-email@example.com"
            },
            {
              "name": "telegram_chat_id",
              "value": "your-telegram-chat-id"
            },
            {
              "name": "preferred_categories",
              "value": "technology,programming,ai"
            }
          ]
        },
        "options": {}
      },
      "id": "user-preferences",
      "name": "Set User Preferences",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [240, 480]
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Set User Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Preferences": {
      "main": [
        [
          {
            "node": "Fetch Tech News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Reddit Programming",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Trending GitHub Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tech News": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reddit Programming": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Trending GitHub Repos": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "AI News Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Summarizer": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "daily-news-digest-automation"
  },
  "id": "daily-news-digest-automation",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "productivity",
      "name": "productivity"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ai",
      "name": "ai"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "news",
      "name": "news"
    }
  ]
}